*{
    --main-gray5-color:#475459;
    --main-gray4-color:#6C7A80;
    --main-gray3-color:#90A0A6;
    --main-gray2-color:#D1DCE0;
    --main-gray1-color:#E4EBED;
    --main-shadows-color:rgba(144, 160, 166, .7);


    --main-claro-color:#F7F9FA;
    
    --main-comp-color:#FF94B4;
    --main-compOsc-color:#8C032C;
    --main-oscuro2-color:#036c8c;
    --main-oscuro1-color:#098AB2;
    --main-base-color:#12A0CC;
    --main-claro1-color:#6AD5F7;
    --main-claro2-color:#94E5FF;

    font-family: 'Lato', sans-serif;
}
body{
    margin: 0;
    padding:0;
    background:var(--main-claro-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

a:hover{text-decoration:none;}
.content-hero{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "hero-container"
                         "content-subsections";
    background: url(./images/fondo2.jpg) no-repeat; 
    background-size: cover;                        
}

.hero-container{
    grid-area:hero-container;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    grid-template-areas:"hero-navbar hero-navbar hero-navbar"". hero-container__text hero-container__image";
    height: 70vh;
    background: rgba(255,255,255,.5)
}
.hero-navbar{
    grid-area:hero-navbar;
}
.hero-container__text{
    grid-area:hero-container__text;
    text-align: center;
}

.hero-container__text p{font-size: 4rem;}
.hero-container__image{
    background:url(./images/recycleImg2.png) no-repeat;
    background-size:cover;
    grid-area:hero-container__image;
}
.content-subsections{
    grid-area: content-subsections;
    display: grid;
    grid-template-columns:1fr;
    grid-template-areas:"subsection-one""subsection-two""subsection-three";
}
.content-subsections a{
    background:rgba(3, 108, 140, .5);
    color:var(--main-claro-color);
    text-decoration: none;
}
.content-subsections a:hover{
    animation-duration:.5s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-name:hoverBox;
    animation-fill-mode: forwards;
}
@keyframes hoverBox {
    from{ background:rgba(3, 108, 140, .5);color:var(--main-claro-color)} to {color:var(--main-oscuro2-color);background:var(--main-claro1-color)}
}
.subsection-one{
    grid-area:subsection-one;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}
.subsection-two{
    grid-area:subsection-two;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}
.subsection-three{
    grid-area:subsection-three;
}

.navbar{
    background:linear-gradient(to right, var(--main-gray5-color), var(--main-oscuro2-color));
}
.navbar-brand{
    font-family:'Anton', sans-serif;
    font-size:2rem;
    color:var(--main-gray1-color);
}
.navbar-toggler{
    color:var(--main-gray1-color);
}
.navbar-brand:hover{
    color:var(--main-gray1-color);
}

a.btn{
    font-size:1.2rem;
    font-weight: 600;
    border-radius:10px;
    padding:.3rem .75rem .7rem;
    border:initial;
}
a.btn.principal{
    background:var(--main-comp-color);
    color:var(--main-claro-color);
    box-shadow:inset 0 -5px 0 var(--main-compOsc-color);

}
a.btn.secondary{
    background:var(--main-claro2-color);
    box-shadow:inset 0 -5px 0 var(--main-gray5-color);
}
a.btn.principal:hover{
    animation-duration:.5s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-name:btnHoverPrincipal;
    animation-fill-mode: forwards;
}
a.btn.secondary:hover{
    animation-duration:.5s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-name:btnHoverSecondary;
    animation-fill-mode: forwards;
}
@keyframes btnHoverPrincipal {
    from {box-shadow:inset 0 -5px 0 var(--main-compOsc-color);background:var(--main-comp-color);padding-top: .3rem;} 
    to {box-shadow:inset 0px 0px 0px var(--main-compOsc-color);background:var(--main-compOsc-color);padding-top: .5rem;padding-bottom: .5rem;}
}
@keyframes btnHoverSecondary {
    from {box-shadow:inset 0 -5px 0 var(--main-gray5-color);background:var(--main-claro2-color);padding-top: .3rem;} 
    to {box-shadow:inset 0px 0px 0px var(--main-gray5-color);background:var(--main-gray5-color);padding-top: .5rem;padding-bottom: .5rem;}
}


.content{
    background: url(./images/fondo2.jpg) no-repeat; 
    background-size: cover;   
}
.content-login{
    display: grid;
    grid-template-columns: 1fr minmax(20rem, 1fr) 1fr;
    grid-template-rows: 100px minmax(33rem, 1fr) 1fr;
    grid-template-areas: "hero-navbar hero-navbar hero-navbar"
                         ". login-container ."
                         ". . .";
    background: rgba(255,255,255,.5)
}

.login-container{
    grid-area:login-container;
    background: var(--main-claro-color);
    border-radius:10px;
    box-shadow:0px 10px 10px var(--main-shadows-color);
}

.card-option{
    display:flex;
    justify-content: center;
    flex-direction:column;
    width: 13rem;
    margin:2rem .5em;
    box-shadow: black 5px 5px ;
}

@media (min-width:768px){
    h1 {
        font-size:5.5rem;;
    }
    
    h2 {
        font-size:3.5rem;;
    }
    .content-hero{
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "hero-container hero-container hero-container hero-container"
                             "content-subsections content-subsections content-subsections content-subsections";
        height: 100vh;
    }
    .content-subsections{
        height: 30vh;
        grid-template-columns:repeat(5, 1fr);
        grid-template-areas:"subsection-one subsection-one subsection-two subsection-two subsection-three";
    }

    .content-login{
        height: 100vh;
    }

}