*{
    --main-gray5-color:#475459;
    --main-gray4-color:#6C7A80;
    --main-gray3-color:#90A0A6;
    --main-gray2-color:#D1DCE0;
    --main-gray1-color:#E4EBED;
    --main-claro-color:#F7F9FA;
    
    --main-comp-color:#FF94B4;
    --main-compOsc-color:#8C032C;
    --main-oscuro2-color:#036C8C;
    --main-oscuro1-color:#098AB2;
    --main-base-color:#12A0CC;
    --main-claro1-color:#6AD5F7;
    --main-claro2-color:#94E5FF;

    font-family: 'Lato', sans-serif;
}
body{
    margin: 0;
    padding:0;
    background:var(--main-claro-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

.content-hero{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "hero-container"
                         "content-subsections";
    background: url(./images/fondo2.jpg) no-repeat; 
    background-size: cover;                        
}

.hero-container{
    grid-area:hero-container;
    border:1px solid black;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    grid-template-areas:"hero-navbar hero-navbar hero-navbar"". hero-container__text hero-container__image";
    height: 70vh;
    background: rgba(255,255,255,.5)
}
.hero-navbar{
    grid-area:hero-navbar;
}
.hero-container__text{
    grid-area:hero-container__text;
    text-align: center;
}

.hero-container__text p{
    font-size: 4rem;
}
.hero-container__image{
    background:url(./images/recycleImg2.png) no-repeat;
    background-size:cover;
    grid-area:hero-container__image;
}
.content-subsections{
    grid-area: content-subsections;
    display: grid;
    grid-template-columns:1fr;
    grid-template-areas:"subsection-one""subsection-two""subsection-three";
}
.subsection-one{
    grid-area:subsection-one;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}
.subsection-two{
    grid-area:subsection-two;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}
.subsection-three{
    grid-area:subsection-three;
}

.navbar{
    background:linear-gradient(to right, var(--main-gray5-color), var(--main-oscuro2-color));
}
.navbar-brand{
    font-family:'Anton', sans-serif;
    font-size:2rem;
    color:var(--main-gray1-color);
}
.navbar-toggler{
    color:var(--main-gray1-color);
}
.navbar-brand:hover{
    color:var(--main-gray1-color);
}

a.btn{
    font-size:1.2rem;
    font-weight: 600;
}
a.btn.principal{
    background:var(--main-comp-color);
    color:var(--main-claro-color);
    border-bottom:1px solid var(--main-compOsc-color);

}
a.btn.secondary{
    background:var(--main-claro2-color);
    border-bottom:1px solid var(--main-oscuro2-color);
}
a.btn:hover{
    animation-name:btnHover;
}
@keyframes btnHover {
    from {border-bottom:1px} to {border-bottom: 0px}}



.content-login{
    display: grid;
    grid-template-columns: 1fr minmax(20rem, 1fr) 1fr;
    grid-template-rows: 1fr minmax(30rem, 1fr) 1fr;
    grid-template-areas: "hero-navbar hero-navbar hero-navbar"
                         ". login-container ."
                         ". . ."
}

.login-container{
    grid-area:login-container;
}

.card-option{
    display:flex;
    justify-content: center;
    flex-direction:column;
    width: 13rem;
    margin:2rem .5em;
    box-shadow: black 5px 5px ;
}

@media (min-width:768px){
    h1 {
        font-size:5.5rem;;
    }
    h3 {
        font-size:3.5rem;;
    }
    .content-hero{
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "hero-container hero-container hero-container hero-container"
                             "content-subsections content-subsections content-subsections content-subsections";
        height: 100vh;
    }
    .content-subsections{
        height: 30vh;
        grid-template-columns:repeat(5, 1fr);
        grid-template-areas:"subsection-one subsection-one subsection-two subsection-two subsection-three";
    }

    .content-login{
        height: 100vh;
    }

}